
@{
    ViewData["Title"] = "PersonalDetails";
}

<h3>Personal Details</h3>
@using (Html.BeginForm())
{
    <div class="mb-3">
        <label>Enter Name</label>
        @Html.TextBox("pname")
    </div>
    <div class="mb-3">
        <label>Enter Mobile Number</label>
        @Html.TextBox("mobile")
    </div>
    <div class="mb-3">
        <label>Select Gender</label>
        @Html.RadioButton("Gender","Male") Male
        @Html.RadioButton("Gender","Female") Female
    </div>
    <div class="mb-3">
        <label>Select Hobbies</label>
        <input type="checkbox" name="hobbies" value="Sports" /> Sports
        <input type="checkbox" name="hobbies" value="Music" /> Music
        <input type="checkbox" name="hobbies" value="Reading" /> Reading
    </div>
    <div class="mb-3">
        <label>select city</label>
        @Html.DropDownList("cities")

    </div>
    <div class="mb-3">
        <input type="submit" value="Save Form" />
    </div>
}
